/*** ESSENTIAL STYLES ***/
#navigation, #navigation * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#navigation {
}
#navigation ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
#navigation ul li {
	width:			10em;
}
#navigation li:hover {
	visibility:		inherit;
	color: #FFFFFF;
}
#navigation li {
	float:			left;
	position:		relative;
}
#navigation li li a:hover {

}

#navigation a {
	display:		block;
	position:		relative;
}
#navigation li:hover ul,
#navigation li.sfHover ul {
	left:			0;
	top:			3em; /* match top ul list item height */
	z-index:		99;
}
ul#navigation li:hover li ul,
ul#navigation li.sfHover li ul {
	top:			-999em;
}
ul#navigation li li:hover ul,
ul#navigation li li.sfHover ul {
	left:			10.5em; /* match ul width */
	top:			0;
}
ul#navigation li li:hover li ul,
ul#navigation li li.sfHover li ul {
	top:			-999em;
}
ul#navigation li li li:hover ul,
ul#navigation li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
#navigation {
	margin-bottom:	0px;
}
#navigation a {
	text-decoration:none;
}
#navigation a, #navigation a:visited  { /* visited pseudo selector so IE6 applies text colour*/
}

#navigation li {
}
#navigation li li {
	font-size: 90%;
	line-height: normal;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-right-style: none;
	padding: 0px;
}
#navigation li li a {
	font-weight: normal;
	line-height: 20px;
	padding: 5px;
	width: 10em;
	text-align: left;
}

#navigation li li li {
}

#navigation li:first-child, #navigation li.first-child {
}

#navigation li:last-child, #navigation li.last-child {
}

#navigation li:hover, #navigation li.sfHover,
#navigation a:focus, #navigation a:hover, #navigation a:active {
	outline:		0;
}

#navigation li .separator {
	display: block;
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	padding: 		.75em 1em;
	text-decoration:none;
}

/*** arrows **/
#navigation a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#navigation ul .sf-sub-indicator { background-position:  -10px 0; }
#navigation ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
#navigation ul a:focus > .sf-sub-indicator,
#navigation ul a:hover > .sf-sub-indicator,
#navigation ul a:active > .sf-sub-indicator,
#navigation ul li:hover > a > .sf-sub-indicator,
#navigation ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

#navigation .active {
	background: #ccc;
}

#navigation #current {
}

.superfish_clear { 
	clear: both !important;
	height: 1px !important;
	overflow: hidden !important;
	font-size: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
}
